:host {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.toolbar {
    display: flex;
    flex-direction: row;
}

.divider {
    display: flex;
    flex-direction: row;
    flex: auto;
}

.selectedItem {
    display: flex;
    flex-direction: column;
}

.lista {
    display: flex;
    flex-direction: column;

    .produto {
        padding: 12px 6px;
        &.selected {
            background: linear-gradient(to top, #969696, #dedede);
        }
    }
}
